{
        "arrowParens": "always",
        "bracketSpacing": true,
        "semi": true,
        "singleQuote": true,
        "tabWidth": 4,
        "trailingComma": "es5",
        "useTabs": false,
        "requirePragma": false,
        "insertPragma": false,
        "printWidth": 120,
        "proseWrap": "preserve",
        "quoteProps": "as-needed",
        "endOfLine": "lf",
        "htmlWhitespaceSensitivity": "css",
        "jsxSingleQuote": true,
        "jsxBracketSameLine": true
}
